html{
    font-family: 'k';
    height:100%;
/*    background: url('../images/1.jpg'),  linear-gradient(to bottom, red 0%, black 100%);*/
}
@font-face {
    font-family: 'k';
    src:url('../fonts/font.woff')
}